.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header1{
  background-color: #f5ba13;
  height: 50px;
  display: block;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;
}

.header1 p{
  margin: 0px;
  color: white;
  float: left;
  margin-left: 50px;
  margin-top: 7px;
  position: absolute;
  font-family: "McLaren",cursive;
  font-size: 25px;
}

footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #ccc;
}
.note{
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}